ul{
    list-style: none;
    background: #22438C;
    
}

ul li{
    display: inline-block;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #112C66;
}
ul li:hover ul.dropdown{
    display: inline-block
}